
termExtraction/*
.Rproj.user
*.html
.DS_Store
TerminologiasInteractivas/data/
Terminolog\303\255asInteractivas/data/
TerminologiasInteractivas/.Rhistory
TerminologiasInteractivas/*.Rhistory
TerminologiasInteractivas/*.RData
TerminologiasInteractivas/.Rhistory
